extends common/layout 

block main-content 
    div.general
        h1.sub-title About Us
        h3 This is a website to show top songs in a specific country that you are staying and travelling.
        h3 Wishing you a happy trip with wonderful musical experiences in this country.