extends common/layout 

block main-content 
    div.general
        h1.sub-title Contact Us
        h3 Nhi Ha Thao Nguyen
        p Email: hathaonhin@gmail.com
        P LinkedIn: 
            a(href="https://www.linkedin.com/in/nhi-ha-thao-nguyen") linkedin.com/in/nhi-ha-thao-nguyen