header#header.site-header 
  div.header-content 
    img.img(src="/img/astronaut-7059915_1920.png" alt="logo")
    //-https://phys.org/news/2022-04-spacesuit.html
    div.header
        h1    
            a(href="/")#site-name  Music Exploration
        p.slogan Travelling And Exploring Top Songs In All Countries
      
    nav#main-navigation 
      ul
        li
            a(href="/") Home
        li
            a(href="/about") About 
        li
            a(href="/contact") Contact